@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #25262a;
  overflow-x: hidden !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Montserrat", sans-serif !important;
}

ul li {
  list-style: none;
}
a {
  font-style: none;
  text-decoration: none;
}
.navbar-active #hero,
.navbar-active #projects,
.navbar-active #contact-us-section {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.navbar-active .overlay {
  display: none;
}
